DezSys #07 SOA and RESTful Webservice/dataRecord.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://erceg_kritzl/soa/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://erceg_kritzl/soa/" targetNamespace="http://erceg_kritzl/soa/">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://erceg_kritzl/soa/">

            <xs:element name="getPersonRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="name" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="getPersonResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" name="personRecord" type="tns:personRecord"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:complexType name="personRecord">
                <xs:sequence>
                    <xs:element name="id" type="xs:string"/>
                    <xs:element name="name" type="xs:string"/>
                    <xs:element name="description" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getPersonRequest">
        <wsdl:part element="tns:getPersonRequest" name="getPersonRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getPersonResponse">
        <wsdl:part element="tns:getPersonResponse" name="getPersonResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="PersonRecordsPort">
        <wsdl:operation name="getPerson">
            <wsdl:input message="tns:getPersonRequest" name="getPersonRequest">
            </wsdl:input>
            <wsdl:output message="tns:getPersonResponse" name="getPersonResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PersonRecordsPortSoap11" type="tns:PersonRecordsPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getPerson">
            <soap:operation soapAction=""/>
            <wsdl:input name="getPersonRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getPersonResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="PersonRecordsPortService">
        <wsdl:port binding="tns:PersonRecordsPortSoap11" name="PersonRecordsPortSoap11">
            <soap:address location="http://localhost:8080/persons/search"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>